*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: #333;
    color: #fff;
    line-height: 1.6;
}
.slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide.current {
    opacity: 1;
}
.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(225, 225, 225, 0.8);
  color: #333;
  padding: 35px;
}
.buttons #next{
    position: absolute;
    top: 50%;
    right: 15px;

}
.buttons #prev{
    position: absolute;
    top: 50%;
    left: 15px;

}
.buttons button{
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}
.buttons button:hover{
    background-color:#fff;
    color: #333;
}
.content h1 {
    margin-bottom: 10px;
}
.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}
@media (max-width: 300px) {
    .slide .content{
        bottom: -300px;
        left: 0;
        width: 100px;
    }
}
.slide:first-child{
    background: url(./images/fifth.jpeg) no-repeat center center/cover;
}
.slide:nth-child(2){
    background: url(./images/forth.jpeg) no-repeat center center/cover;
}
.slide:nth-child(3){
    background: url(./images/fr.jpg) no-repeat center center/cover;
}
.slide:nth-child(4){
    background: url(./images/sec.JPG) no-repeat center center/cover;
}
.slide:nth-child(5){
    background: url(./images/six.jpeg) no-repeat center center/cover;
}
.slide:nth-child(6){
    background: url(./images/thr.jpeg) no-repeat center center/cover;
}